{% extends "dashboard/base.html" %}

{% block content %}
  <h2>Post List</h2>
  <a href="{% url 'admin-post-create' %}" class="btn btn-success">Add New Post</a>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Featured Image</th>
        <th>Title</th>
        <th>Category</th>
        <th>Tags</th>
        <th>Author</th>
        <th>Status</th>
        <th>Published Date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>

      {% for post in posts %}

        <tr>
          <td>{{ forloop.counter }}</td>
          <td>
            <img src="{{ post.featured_image.url }}"
                 alt="Featured Image"
                 class="featured-image"
                 width="100"
                 height="100" />
          </td>
          <td>{{ post.title }}</td>
          <td>{{ post.category.name }}</td>
          <td>{{ post.tag.all|join:", "|truncatechars:20 }}</td>
          <td>{{ post.author.get_full_name }}</td>
          <td>{{ post.status }}</td>
          <td>
            {% if post.published_at %}
              {{ post.published_at|date:"M d, Y" }}
            {% else %}
              <a href="{% url 'admin-draft-publish' post.id %}"
                 class="btn btn-success">Publish</a>
            {% endif %}
          </td>

          <td>
            <a href="{% url 'admin-post-update' post.id %}" class="btn btn-success">Edit</a>
            <a href="{% url 'admin-post-delete' post.id %}" class="btn btn-danger">Delete</a>
          </td>
        </tr>

      {% endfor %}

    </tbody>
  </table>
{% endblock content %}
