{% extends "dashboard/base.html" %}

{% block content %}
  <h2>Tag List</h2>
  <a href="{% url 'admin-tag-create' %}" class="btn btn-success">Add New Tag</a>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Created At</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>

      {% for tag in tags %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ tag.name }}</td>
          <td>{{ tag.created_at }}</td>
          <td>
            <a href="{% url 'admin-tag-update' tag.id %}" class="btn btn-success">Edit</a>
            <a href="{% url 'admin-tag-delete' tag.id %}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
{% endblock content %}
